@page
@using learn_azure_webapp.DataModels;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Data retrieved from @ViewData["dataSource"]</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Capital</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (TableRowItem item in (List<TableRowItem>) ViewData["capitalCountriesList"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capital)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
